
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.logo-datkeen {
    width: 59.32px;
    height: 58px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px
}

.logo-div {
    margin-bottom: 40px !important;
    display: flex;
}

.forgot-pwd {
    display: flex;
    justify-content: center;
    font-family: 'Suisse Int';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7872E2;
    margin-top: 40px;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 31.6364px;
    line-height: 43px;
    letter-spacing: 0.11em;
    color: #FFFFFF;
    margin-left: 20px;
}

.login-card {
    width: max-content;
    /* height: 50%; */
    min-width: 22%;
    /* width: 429px; */
    /* height: 525px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 84px 10px rgba(0, 0, 0, 0.11);
    border-radius: 13px;
    padding: 25px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-family: 'Suisse Int';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.form-title {
    font-family: 'Larken';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #8853CC;
}

.feild {
    margin-top: 50px;
    margin-bottom: 50px;
}

.label {
    margin-left: 10px;
}

.btn {
    color: #FFFFFF;
    width: 217px;
    height: 62px;
    box-shadow: 0px 4px 84px 10px rgba(0, 0, 0, 0.11);
    border-radius: 13px;
    background: linear-gradient(90deg, #7872E2 0%, #AD6AD6 63.4%, #8853CC 100%);
    border-radius: 8.23009px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .MuiFormHelperText-root.Mui-error{
    color:red !important;
} */